#nxadtxt
{
    font-size: 22px;
    padding-top : 8px;
    padding-bottom : 4px;
}

#title
{
    font-size: 42px;
    padding-top: 15px;
    padding-bottom: 29px;
}

#ab
{
    font-size: 32px;
    padding-bottom: 30px;
}

div #nxad
{
    justify-content: center;
}

#nxad img
{
    border : 7px solid white;
    border-radius : 10px;
    margin-top : 15px;
    margin-bottom : 20px;
}

a
{
    text-decoration: none;
    color : #777;
}

p
{
    font-size: 22px;
}

#abcontribute
{
    font-size: 18px;
    color : #555;
    padding-top: 14px;
    padding-bottom: 14px;
}
#appad
{
    background-color : #1b1b1b;
    margin-left : 380px;
    margin-right : 380px;
    padding-top : 20px;
    padding-bottom : 30px;
    border-radius : 30px;
}