@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body
{
    background-color : black;
    color : white;
    font-family: 'Quicksand', sans-serif;
    text-shadow : 0 0 20px white;
    text-align: center;
}

#title
{
    font-size: 42px;
    padding-top: 15px;
    padding-bottom: 29px;
}

#ab
{
    font-size: 32px;
    padding-bottom: 30px;
}

div #nxad
{
    justify-content: center;
}

#nxad img
{
    border : 7px solid white;
    border-radius : 10px;
}